<ion-content class="ion-padding">
  <ion-header collapse="condense" class="ion-no-border">
    <app-header
      pageTitle="Checkout"
      [hasNotifications]="false"
      [lightTheme]="true"
    ></app-header>
  </ion-header>
  <div class="ion-padding-horizontal">
    <h5>Address:</h5>
    <div class="checkout__address" *ngIf="!addressEditMode">
      <span
        >{{order?.street || locationService?.fullAddress || 'No Address\
        Entered'}}</span
      >
      <ion-text color="secondary" (click)="handleEditAddress()">Edit</ion-text>
    </div>
    <div class="checkout__address__edit" *ngIf="addressEditMode">
      <ion-textarea
        placeholder="Enter Address"
        name="address"
        #address
        [(ngModel)]="locationService.fullAddress"
      ></ion-textarea>
      <div class="checkout__address__buttons ion-margin-top">
        <ion-button expand="block" fill="outline" (click)="handleEditAddress()">
          <span>Cancel</span>
        </ion-button>
        <ion-button expand="block" (click)="updateAddress()">
          <span>Update</span>
        </ion-button>
      </div>
    </div>
    <ion-item
      lines="none"
      class="checkout__useExisting ion-margin-top"
      *ngIf="addresses?.length > 0"
    >
      <ion-label>Use saved address</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="useSavedAddress"></ion-checkbox>
    </ion-item>
    <div class="checkout__addresses" *ngIf="useSavedAddress">
      <div
        *ngFor="let address of addresses"
        class="ion-padding checkout__addresses__address"
        (click)="useAddress(address)"
      >
        {{address.street}}{{address.state && ", " + address.state}}
      </div>
    </div>
    <h5>Delivery Information:</h5>
    <ion-textarea
      cols="2"
      placeholder="(Optional) Enter additional delivery information"
    ></ion-textarea>
    <app-cart-item
      [quantity]="item?.quantity"
      [item]="item?.options"
      (handleRemove)="removeFromCart()"
      *ngFor="let item of order?.orderItems"
    ></app-cart-item>
  </div>
</ion-content>
<ion-footer>
  <app-hero-card [radiusBottom]="false">
    <ion-grid class="header">
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col>
          <ion-text>Sub Total</ion-text>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-text color="primary"
            ><strong
              >{{subTotal | currency: "₦":"symbol-narrow":"1.0-0"}}</strong
            ></ion-text
          >
        </ion-col>
      </ion-row>
      <ion-row
        class="
          ion-align-items-center ion-justify-content-between ion-padding-bottom
          checkout__shippingCost
        "
      >
        <ion-col>
          <ion-text>Shipping</ion-text>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-text color="primary"
            ><strong
              >{{deliveryPrice | currency: "₦":"symbol-narrow":"1.0-0"}}</strong
            ></ion-text
          >
        </ion-col>
      </ion-row>
      <ion-row
        class="
          ion-align-items-center
          ion-justify-content-between
          ion-padding-vertical
          ion-margin-top
        "
      >
        <ion-col>
          <ion-text><strong>Total</strong></ion-text>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-text color="primary"
            ><strong
              >{{totalPrice | currency: "₦":"symbol-narrow":"1.0-0"}}</strong
            ></ion-text
          >
        </ion-col>
      </ion-row>

      <ion-button
        expand="block"
        color="primary"
        (click)="goToCheckout()"
        [disabled]="!canPlaceOrder()"
      >
        <span>Place order</span>
      </ion-button>
    </ion-grid>
  </app-hero-card>
</ion-footer>
