.checkout {
  &__address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__shippingCost {
    border-bottom: 1px dashed var(--ion-color-light-shade);
  }
}
