<ion-content class="ion-padding">
  <ion-header collapse="condense" class="ion-no-border">
    <app-header
      pageTitle="About"
      [hasNotifications]="false"
      [lightTheme]="true"
    ></app-header>
  </ion-header>

  <div class="ion-padding ion-margin-vertical">
    Lorem ipsum dolor sit amet, consectetur elit. Pellentesque ullamcorper,
    lacus id viverra pellente est purus lacinia mauris, in auctor orci diam eget
    mi. Proin auctor dui ligula, id scelerisque magna varius in. Phasellus
    feugiat non erat a lobortis. Maecenas dictum nisl a nisl venenatis, eget
    dapibus magna vestibulum. Class aptent taciti sociosqu ad litora torquent
    per conubia nostra, per inceptos himenaeos. Integer posuere magna ac augue
    cursus fermentum.
  </div>
</ion-content>
<ion-footer class="ion-padding">
  <div class="ion-padding"><strong>v1.0.2</strong></div>
</ion-footer>
