<div class="debit-card">
  <div class="debit-card__details ion-padding-bottom">
    <div class="debit-card__details__chip">
      <ion-img class="debit-card__image" src="assets/images/card.svg"></ion-img>
      <div>
        <ion-text>VALID THROUGH</ion-text><br />
        <ion-text><strong>09 / 25</strong></ion-text>
      </div>
    </div>
    <ion-img
      class="debit-card__image"
      src="assets/images/mastercard.svg"
    ></ion-img>
  </div>
  <ion-text class="debit-card__number ion-padding-vertical"
    ><strong>8950 0900 8745 2930</strong></ion-text
  >
  <ion-text class="debit-card__name ion-padding-bottom"
    >Chuka Toyosi Wisdom</ion-text
  >
</div>
