<ion-grid class="cart-item ion-margin-vertical">
  <ion-row class="ion-align-items-center ion-justify-content-between">
    <ion-col size="3" class="ion-align-self-center">
      <div class="cart-item__imageContainer">
        <ion-img class="cart-item__image" src="assets/images/gas.svg"></ion-img>
      </div>
    </ion-col>
    <ion-col class="ion-align-self-center cart-item__description">
      <ion-text color="primary" class="cart-item__description__name"
        ><strong>{{ item?.name }}</strong>
      </ion-text>
      <ion-text color="secondary" class="cart-item__description__price"
        >{{ quantity }} cylinders</ion-text
      >
    </ion-col>
    <ion-col class="ion-text-end cart-item__removeButton" *ngIf="quantity > 1">
      <ion-text color="secondary" (click)="emitClickEvent()">Remove</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
