<ion-content>
  <ion-header collapse="condense" class="ion-no-border">
    <app-header
      pageTitle="Orders"
      [hasNotifications]="true"
      [lightTheme]="true"
    ></app-header>
  </ion-header>

  <div class="ion-padding buttonGroup">
    <span class="ion-padding buttonGroup__button active">Refill</span>
    <span class="ion-padding buttonGroup__button">Buy Accessories</span>
  </div>

  <div class="ion-padding">
    <h6><strong>Today</strong></h6>
    <app-order-item (handleClick)="viewDetails()"></app-order-item>
    <app-order-item (handleClick)="viewDetails()"></app-order-item>
    <h6><strong>Last month</strong></h6>
    <app-order-item (handleClick)="viewDetails()"></app-order-item>
    <app-order-item (handleClick)="viewDetails()"></app-order-item>
    <app-order-item (handleClick)="viewDetails()"></app-order-item>
  </div>
</ion-content>
