#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}

.orderRequest {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 2vh;
  width: 100vw;
  z-index: 99;

  &__map {
    width: 100%;
    height: 86.7vh;
  }

  &__noMap {
    height: 0;
  }

  &__container {
    position: relative;
  }

  &__noRequest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;

    &__image {
      width: 200px;
      opacity: 0.4;
    }
  }

  &__details {
    margin: 0 3vw;
    background-color: var(--ion-color-primary-contrast);
    color: var(--ion-color-primary);
    border-radius: var(--ion-border-radius);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__label {
      font-size: 1.1rem;
    }
    &__buttons {
      display: flex;
      align-items: center;
      gap: 1em;
      justify-content: space-evenly;

      & > * {
        flex-grow: 1;
      }
    }

    &__accepted {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
