@import "../../theme/variables.scss";

app-tabs {
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-secondary);

  &.tab-selected {
    --color: var(--ion-color-secondary);
  }
}
