.selectItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30%;

  &__image {
    background-color: var(--ion-color-primary-contrast);
    border-radius: var(--ion-border-radius);
    height: 80px;
  }

  &__text {
    color: var(--ion-color-primary-contrast);
    text-align: center;
  }

  &__collapseButton {
    position: absolute;
    bottom: -40%;

    &__button {
      border-radius: var(--ion-border-radius);
      background-color: var(--ion-color-primary-contrast);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      ion-icon {
        font-size: large;
      }
    }
  }
}
