<ion-content class="ion-padding">
  <ion-header collapse="condense" class="ion-no-border">
    <app-header
      pageTitle="Orders"
      [hasNotifications]="true"
      [hasBackButton]="false"
      [lightTheme]="true"
    ></app-header>
  </ion-header>

  <ion-searchbar
    placeholder="Search orders"
    color="light"
    debounce="500"
    animated
    [(ngModel)]="searchFilter"
    (ngModelChange)="filterOrders()"
  ></ion-searchbar>

  <div class="ion-padding-vertical buttonGroup">
    <span
      class="ion-padding buttonGroup__button {{activeTab === 0 ? 'active' : ''}}"
      (click)="switchTab(0)"
      >Refill</span
    >
    <span
      class="ion-padding buttonGroup__button {{activeTab === 1 ? 'active' : ''}}"
      (click)="switchTab(1)"
      >Accessories</span
    >
  </div>

  <div [ngSwitch]="activeTab" class="ion-padding-vertical">
    <div *ngSwitchCase="0">
      <div *ngIf="todayOrders?.length > 0">
        <h6><strong>Today</strong></h6>
        <app-order-item
          (handleClick)="viewDetails(order)"
          *ngFor="let order of todayOrders"
          [name]="order.orderItems[0].options.name"
          [price]="order.totalPrice"
          [itemId]="order.orderItems[0].options._id"
          [size]="order.orderItems[0].options.size"
          [quantity]="order.orderItems[0].quantity"
        ></app-order-item>
      </div>
      <div *ngIf="ordersHistory?.length > 0">
        <h6><strong>Recent Orders</strong></h6>
        <app-order-item
          (handleClick)="viewDetails(order)"
          *ngFor="let order of ordersHistory"
          [name]="order.orderItems[0].options.name"
          [price]="order.totalPrice"
          [itemId]="order.orderItems[0].options._id"
          [size]="order.orderItems[0].options.size"
          [quantity]="order.orderItems[0].quantity"
        ></app-order-item>
      </div>

      <div
        *ngIf="!todayOrders && (!ordersHistory || ordersHistory.length === 0)"
      >
        <app-not-found message="No orders made yet"></app-not-found>
      </div>
    </div>
    <div *ngSwitchCase="1">
      <app-not-found
        message="Accessories not available. Coming soon"
      ></app-not-found>
    </div>
  </div>
</ion-content>
