<ion-content class="ion-padding">
  <ion-header collapse="condense" class="ion-no-border">
    <app-header
      pageTitle="Orders"
      [hasNotifications]="true"
      [hasBackButton]="false"
      [lightTheme]="true"
    ></app-header>
  </ion-header>

  <ion-searchbar
    placeholder="Search orders"
    color="light"
    debounce="500"
    animated
  ></ion-searchbar>

  <div class="ion-padding buttonGroup">
    <span
      class="ion-padding buttonGroup__button {{activeTab === 0 ? 'active' : ''}}"
      (click)="switchTab(0)"
      >Refill</span
    >
    <span
      class="ion-padding buttonGroup__button {{activeTab === 1 ? 'active' : ''}}"
      (click)="switchTab(1)"
      >Buy Accessories</span
    >
  </div>

  <div [ngSwitch]="activeTab">
    <div *ngSwitchCase="0" class="ion-padding">
      <div *ngIf="todayOrders?.length > 0">
        <h6><strong>Today</strong></h6>
        <app-order-item
          (handleClick)="viewDetails()"
          *ngFor="let order of todayOrders"
          [name]="order.orderItems[0].options.name"
          [price]="order.orderItems[0].options.price"
          [itemId]="order.orderItems[0].options._id"
          [size]="order.orderItems[0].options.size"
        ></app-order-item>
      </div>
      <div *ngIf="ordersHistory?.length > 0">
        <h6><strong>Last month</strong></h6>
        <app-order-item
          (handleClick)="viewDetails()"
          *ngFor="let order of ordersHistory"
          [name]="order.orderItems[0].options.name"
          [price]="order.orderItems[0].options.price"
          [itemId]="order.orderItems[0].options._id"
          [size]="order.orderItems[0].options.size"
        ></app-order-item>
      </div>

      <div *ngIf="!todayOrders && !ordersHistory">
        <app-not-found message="No orders made yet"></app-not-found>
      </div>
    </div>
    <div *ngSwitchCase="1" class="ion-padding">
      <app-not-found
        message="Accessories not available. Coming soon"
      ></app-not-found>
    </div>
  </div>
</ion-content>
