<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <app-hero-card [dark]="true">
      <div class="selectItem">
        <div>
          <img
            class="selectItem__image"
            src="assets/images/tutorial_illustration.svg"
          />
        </div>
        <ion-text
          class="selectItem__text ion-padding-bottom ion-margin-vertical"
          >Select cyliner size and how to refill</ion-text
        >
        <div class="selectItem__collapseButton">
          <ion-card
            class="selectItem__collapseButton__button"
            (click)="showPicker()"
          >
            <ion-icon name="chevron-down"></ion-icon>
          </ion-card>
        </div>
      </div>
    </app-hero-card>
    <div class="ion-padding buttonGroup">
      <span class="ion-padding buttonGroup__button active">Refill</span>
      <span class="ion-padding buttonGroup__button">Buy Accessories</span>
    </div>
    <div class="concentricCircles">
      <ion-icon name="checkmark"></ion-icon>
    </div>
  </div>
</ion-content>
<ion-footer>
  <app-hero-card [radiusBottom]="false">
    <ion-grid class="header">
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col>
          <ion-text>Sub Total</ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="primary"><strong>₦3000</strong></ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col>
          <ion-text>Shipping</ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="primary"><strong>₦1000</strong></ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <hr color="tertiary" />
        </ion-col>
      </ion-row>
      <ion-row
        class="
          ion-align-items-center
          ion-justify-content-between
          ion-padding-vertical
          ion-margin-top
        "
      >
        <ion-col>
          <ion-text><strong>Total</strong></ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="primary"><strong>₦4000</strong></ion-text>
        </ion-col>
      </ion-row>

      <ion-button expand="block" color="primary" (click)="presentModal()">
        <span>Proceed to cart</span>
      </ion-button>
    </ion-grid>
  </app-hero-card>
</ion-footer>
