.home {
  &__heroCard {
    position: relative;
  }

  &__heroFixed {
    position: sticky;
  }

  &__welcomeText {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 1em;
  }

  &__searchBar {
    position: absolute;
    bottom: -30%;
  }

  &__cartItems {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__number {
      font-size: x-large;
      font-weight: 700;
      padding-right: 0.2em;
    }
  }
}
