<ion-content [fullscreen]="true">
  <app-hero-card [dark]="true" [radiusTop]="false">
    <ion-header collapse="condense" class="ion-no-border">
      <app-header pageTitle="Home" [hasNotifications]="true"></app-header>
    </ion-header>
    <div class="ion-padding welcomeText">
      <ion-text color="light">Hello,</ion-text>
      <ion-text color="light">Welcome to easy life</ion-text>
    </div>

    <ion-searchbar
      placeholder="Search orders"
      color="tertiary"
      debounce="500"
      animated
    ></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="tertiary">
            <span> Refill & Accessories</span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block">
            <span> Repairs & maintenance</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-hero-card>
  <div class="ion-padding-horizontal">
    <ion-button expand="block">
      <span> Login</span>
    </ion-button>
    <ion-button expand="block" color="tertiary">
      <ion-icon name="home" slot="start"></ion-icon>
      <span>Register</span>
    </ion-button>

    <ion-fab-button><ion-icon name="arrow-back"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="chevron-back"></ion-icon></ion-fab-button>
    <app-order-item></app-order-item>
  </div>
</ion-content>
