<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" class="ion-no-border">
    <app-header
      pageTitle="Profile"
      [lightTheme]="true"
      [hasNotifications]="false"
    ></app-header>
  </ion-header>
  <div class="profile__header ion-padding">
    <div class="profile__header__image"></div>
    <div class="profile__header__name">
      Full name: <br />
      <ion-text class="profile__header__fullName">Chuks Toyosi</ion-text>
    </div>

    <ion-fab-button><ion-icon name="edit"></ion-icon></ion-fab-button>
  </div>
  <div class="ion-padding">
    <ion-item lines="none">
      <ion-label> +234 817 489 6364 </ion-label>
      <ion-icon name="call-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label> chukatoyosi@gmail.com </ion-label>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
    </ion-item>
  </div>
  <div class="profile__orderSummary ion-padding">
    <div
      class="ion-text-center ion-padding-vertical profile__orderSummary__item"
    >
      <ion-text><strong>10</strong></ion-text
      ><br />
      <ion-text>Refills</ion-text>
    </div>
    <div
      class="ion-text-center ion-padding-vertical profile__orderSummary__item"
    >
      <ion-text><strong>04</strong></ion-text
      ><br />
      <ion-text>Maintenance</ion-text>
    </div>
  </div>
  <div class="ion-padding">
    <ion-item lines="none" (click)="goToCards()">
      <ion-label> Saved cards </ion-label>
      <ion-icon name="card" slot="start" color="secondary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label> Logout </ion-label>
      <ion-icon name="log-out" slot="start" color="secondary"></ion-icon>
    </ion-item>
  </div>
</ion-content>
