<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" class="ion-no-border">
    <app-header
      pageTitle="Profile"
      [lightTheme]="true"
      [hasNotifications]="true"
      [hasBackButton]="false"
    ></app-header>
  </ion-header>
  <div class="profile__header ion-padding">
    <div class="profile__header__image">
      <ion-img
        [src]="photoService.photo ? photoService.photo.webviewPath : 'assets/images/avatar.svg'"
      ></ion-img>
      <ion-fab-button
        class="small-fab no-shadow profile__header__image__edit"
        color="light"
        (click)="changeProfilePics()"
        ><ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </div>
    <div class="profile__header__name">
      Full name: <br />
      <ion-text class="profile__header__fullName"
        >{{userProfileData?.fullName || authData?.userDetails?.name ||
        authData?.phoneNumber}}</ion-text
      >
    </div>

    <ion-fab-button class="small-fab" (click)="goToUpdateProfile()"
      ><ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </div>
  <div class="ion-padding-vertical">
    <ion-item lines="none">
      <ion-label
        >{{userProfileData?.phoneNumber || authData?.userDetails?.phoneNumber ||
        authData?.phoneNumber}}</ion-label
      >
      <ion-icon name="call-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        {{userProfileData?.email || authData?.userDetails?.email ||
        authData?.phoneNumber}}
      </ion-label>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
    </ion-item>
  </div>
  <div class="profile__orderSummary ion-padding-vertical">
    <div
      class="ion-text-center ion-padding-vertical profile__orderSummary__item"
    >
      <ion-text
        ><strong
          >{{userProfileData?.noOfOrders === 0 ? orderHistory?.length :
          userProfileData?.noOfOrders}}</strong
        ></ion-text
      ><br />
      <ion-text>Refills</ion-text>
    </div>
    <div
      class="ion-text-center ion-padding-vertical profile__orderSummary__item"
    >
      <ion-text
        ><strong>{{userProfileData?.referralId || '---'}}</strong></ion-text
      ><br />
      <ion-text>Referral ID</ion-text>
    </div>
  </div>
  <div class="ion-padding-vertical">
    <ion-item lines="none" (click)="goToShippingAddresses()">
      <ion-label> Shipping Addresses </ion-label>
      <ion-icon name="home" slot="start" color="secondary"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="goToCards()">
      <ion-label> Saved cards </ion-label>
      <ion-icon name="card" slot="start" color="secondary"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="handleLogout()">
      <ion-label> Logout </ion-label>
      <ion-icon name="log-out" slot="start" color="secondary"></ion-icon>
    </ion-item>
  </div>
</ion-content>
