.logo {
  width: 70vw;
  margin: 25vh auto 6em;
}

.loginOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__buttons {
    display: flex;
    flex-direction: column;

    & > * {
      margin: 0.8em 0;
    }
  }
}
