<ion-content>
  <div [ngSwitch]="resetPasswordForm" class="ion-padding ion-margin-top">
    <div class="forgotPasswordForm" *ngSwitchCase="false">
      <div class="ion-padding-horizontal">
        <h1>Request Password Reset</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in
          convallis leo.
        </p>
      </div>
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="requestPasswordReset()"
      >
        <div class="ion-padding-vertical">
          <ion-item class="ion-margin-vertical" lines="none">
            <ion-label class="ion-padding-horizontal" position="stacked"
              >Email or Phone number</ion-label
            >
            <ion-input
              placeholder="Enter account email/phone number"
              formControlName="emailOrPhonenumber"
              name="emailOrPhonenumber"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="forgotPasswordForm.controls.emailOrPhonenumber.errors && !forgotPasswordForm.controls.emailOrPhonenumber.pristine"
            class="ion-padding-horizontal"
          >
            <ion-text
              *ngIf="forgotPasswordForm.controls.emailOrPhonenumber.errors.required"
              color="danger"
              padding-left
            >
              Enter your registered email or phone number
            </ion-text>
          </div>
        </div>

        <div>
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!forgotPasswordForm.valid"
          >
            <span>Request Password Reset</span>
          </ion-button>
        </div>
      </form>
    </div>
    <div class="forgotPasswordForm" *ngSwitchCase="true">
      <div class="ion-padding-horizontal">
        <h1>Create New Password</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in
          convallis leo.
        </p>
      </div>
      <form [formGroup]="updatePasswordForm" (ngSubmit)="resetPassword()">
        <div class="ion-padding-vertical">
          <ion-item class="ion-margin-vertical" lines="none">
            <ion-label class="ion-padding-horizontal" position="stacked"
              >4-digit Token</ion-label
            >
            <ion-input
              placeholder="Enter 4-digit"
              formControlName="token"
              name="token"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="updatePasswordForm.controls.token.errors && !updatePasswordForm.controls.token.pristine"
            class="ion-padding-horizontal"
          >
            <ion-text
              *ngIf="updatePasswordForm.controls.token.errors.minlength"
              color="danger"
              padding-left
            >
              Enter the 4-digit token sent to your email
            </ion-text>
          </div>
          <ion-item class="ion-margin-vertical" lines="none">
            <ion-label class="ion-padding-horizontal" position="stacked"
              >Password</ion-label
            >
            <ion-input
              placeholder="New Password"
              formControlName="password"
              name="password"
              type="password"
              clearOnEdit="false"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="updatePasswordForm.controls.password.errors && !updatePasswordForm.controls.password.pristine"
            class="ion-padding-horizontal"
          >
            <ion-text
              *ngIf="updatePasswordForm.controls.password.errors.required"
              color="danger"
              padding-left
            >
              Enter a password
            </ion-text>
            <ion-text
              *ngIf="updatePasswordForm.controls.password.errors.minlength"
              color="danger"
              padding-left
            >
              Password must be at least 6 characters.
            </ion-text>
          </div>
          <ion-item class="ion-margin-vertical" lines="none">
            <ion-label class="ion-padding-horizontal" position="stacked"
              >Confirm Password</ion-label
            >
            <ion-input
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              name="confirmPassword"
              type="password"
              clearOnEdit="false"
            ></ion-input>
          </ion-item>
          <div class="ion-padding-horizontal">
            <ion-text
              *ngIf="!updatePasswordForm.controls.confirmPassword.pristine && this.updatePasswordForm.value.password !== this.updatePasswordForm.value.confirmPassword"
              color="danger"
              padding-left
            >
              Password do not match
            </ion-text>
          </div>
        </div>
        <div>
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!updatePasswordForm.valid || this.updatePasswordForm.value.password !== this.updatePasswordForm.value.confirmPassword"
          >
            <span>Reset Password</span>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
