<ion-content>
  <h1>Create New Account</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in convallis
    leo.
  </p>
  <div [ngSwitch]="showLogin">
    <div class="registerForm" *ngSwitchCase="false">
      <form [formGroup]="signupForm" (ngSubmit)="handleSignup()">
        <ion-item>
          <ion-label position="stacked">Full Name</ion-label>
          <ion-input
            placeholder="Your Full Name"
            formControlName="fullName"
            name="fullName"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="signupForm.controls.fullName.errors && !signupForm.controls.fullName.pristine"
        >
          <ion-text
            *ngIf="signupForm.controls.fullName.errors.required"
            color="danger"
            padding-left
          >
            Enter your full name
          </ion-text>
        </div>
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input
            placeholder="Your Email"
            formControlName="email"
            name="email"
            type="email"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="signupForm.controls.email.errors && !signupForm.controls.email.pristine"
        >
          <ion-text
            *ngIf="signupForm.controls.email.errors.required"
            color="danger"
            padding-left
          >
            Enter an email
          </ion-text>
          <ion-text
            *ngIf="signupForm.controls.email.invalid"
            color="danger"
            padding-left
          >
            Invalid email address.
          </ion-text>
        </div>
        <ion-item>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input
            placeholder="Mobile Number"
            formControlName="phoneNumber"
            name="phoneNumber"
            type="text"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="signupForm.controls.phoneNumber.errors && !signupForm.controls.phoneNumber.pristine"
        >
          <ion-text
            *ngIf="signupForm.controls.phoneNumber.errors.required"
            color="danger"
            padding-left
          >
            Enter a phone number
          </ion-text>
          <ion-text
            *ngIf="signupForm.controls.phoneNumber.errors.minlength"
            color="danger"
            padding-left
          >
            Phone number must be at least 11 characters.
          </ion-text>
        </div>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            placeholder="Password"
            formControlName="password"
            name="password"
            [type]="passwordType"
            clearOnEdit="false"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="signupForm.controls.password.errors && !signupForm.controls.password.pristine"
        >
          <ion-text
            *ngIf="signupForm.controls.password.errors.required"
            color="danger"
            padding-left
          >
            Enter a password
          </ion-text>
          <ion-text
            *ngIf="signupForm.controls.password.errors.minlength"
            color="danger"
            padding-left
          >
            Password must be at least 6 characters.
          </ion-text>
        </div>
        <div>
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!signupForm.valid"
          >
            <span> Create Account</span>
          </ion-button>
        </div>
      </form>
    </div>
    <div class="loginForm" *ngSwitchCase="true">
      <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input
            placeholder="Enter Email"
            formControlName="email"
            name="email"
            type="email"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="loginForm.controls.email.errors && !loginForm.controls.email.pristine"
        >
          <ion-text
            *ngIf="loginForm.controls.email.errors.required"
            color="danger"
            padding-left
          >
            Enter an email
          </ion-text>
        </div>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            placeholder="Password"
            formControlName="password"
            name="password"
            [type]="passwordType"
            clearOnEdit="false"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="loginForm.controls.password.errors && !loginForm.controls.password.pristine"
        >
          <ion-text
            *ngIf="loginForm.controls.password.errors.required"
            color="danger"
            padding-left
          >
            Enter a password
          </ion-text>
        </div>
        <div>
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            <span>Login</span>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div [ngSwitch]="showLogin">
    <div *ngSwitchCase="false">
      Own an account<a (click)="switchPage()">Login here</a>
    </div>

    <div *ngSwitchCase="true">
      Don't have an account?<a (click)="switchPage()">Create an account here</a>
    </div>
  </div>
</ion-footer>
