.order-details {
  border: 1px solid var(--ion-color-light-shade);
  border-radius: var(--ion-border-radius);

  &__pricing,
  &__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed var(--ion-color-light-shade);
    &__text {
      text-transform: capitalize;
    }
  }

  &__invoice {
    font-size: medium;
    font-weight: 700;
  }

  &__deliveryStatus {
    display: flex;
    flex-direction: column;
    padding: 4em 1.2em 0;
    &__top,
    &__bottom,
    &__item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      ion-text {
        font-size: smaller;
      }
    }
    &__middle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5em 0;
      &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__icon {
      width: 65px;
      height: 65px;
      border-radius: var(--ion-border-radius-circle);
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon {
        font-size: x-large;
      }
    }

    .icon-active {
      background-color: var(--ion-color-primary);
      border: 0.5px solid var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }

    .icon-outline {
      border: 0.5px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
    }

    .icon-disabled {
      border: 0.5px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
      opacity: 0.4;
    }
  }
}
