<ion-content>
  <div class="ion-padding ion-margin-top">
    <div class="authForm" *ngSwitchCase="true">
      <div class="ion-padding-horizontal">
        <h1>Agent Login</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in
          convallis leo.
        </p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <div class="ion-padding-vertical">
          <ion-item class="ion-margin-vertical" lines="none">
            <ion-label class="ion-padding-horizontal" position="stacked"
              >Email or Phone number</ion-label
            >
            <ion-input
              placeholder="Enter Email"
              formControlName="email"
              name="email"
              type="email"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="loginForm.controls.email.errors && !loginForm.controls.email.pristine"
            class="ion-padding-horizontal"
          >
            <ion-text
              *ngIf="loginForm.controls.email.errors.required"
              color="danger"
              padding-left
            >
              Enter an email or phone number
            </ion-text>
          </div>
          <ion-item class="ion-margin-vertical" lines="none">
            <ion-label class="ion-padding-horizontal" position="stacked"
              >Password</ion-label
            >
            <ion-input
              placeholder="Password"
              formControlName="password"
              name="password"
              [type]="passwordType"
              clearOnEdit="false"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="loginForm.controls.password.errors && !loginForm.controls.password.pristine"
            class="ion-padding-horizontal"
          >
            <ion-text
              *ngIf="loginForm.controls.password.errors.required"
              color="danger"
              padding-left
            >
              Enter a password
            </ion-text>
          </div>
        </div>

        <div>
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            <span>Login As Agent</span>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
